body {
  background-image: url("https://pa1.narvii.com/8193/2c91c8c1cac223f12da418dc651b8ee658c7039cr1-500-281_hq.gif");
  background-size: 1400px 1000px;
}

h1 {
  font-family: courier;
  text-align: center;
  color: yellow;
}

img {
  display: block;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: block;
  font-size: 16px;
  background-color: white;
  color: aqua;
  text-align: center;
  width: 100%;
  border: 1px solid black;
}

.buttons:hover {
  background-color: aqua;
  color: white;
}
