body {
  background-color: navy;
  background-size: 1000px 1000px;
}

h1 {
  font-family: courier;
  font-size: 5vw;
  text-align: center;
}

p {
  border: 2px solid gold;
  color: white; 
}

img {
  border-radius: 50%; 
}
